extends ./base.jade

block app_js
    <!-- start auto template tags -->
    <script src="/client/landing_widgets_app/module.js"></script>
    <script src="/client/landing_widgets_app/aboutMonitorSlider/directives.js"></script>
    <script src="/client/landing_widgets_app/expandArea/directives.js"></script>
    <script src="/client/landing_widgets_app/featuresBlock/directives.js"></script>
    <script src="/client/landing_widgets_app/pricingBlock/directives.js"></script>
    <script src="/client/landing_widgets_app/reviewsBlock/directives.js"></script>
    <script src="/client/index_app/app.js"></script>
    <!-- end auto template tags -->


block body
    br
    div.text-center(ng-controller="Ctrl")        
        lw-about-monitor-slider(slides="slides", hide-indicators="true", style="display:inline-block;")
        lw-features-block.lg-5-col.md-4-col.sm-2-col.xs-1-col(headline="hello Headline")
            each value in [1,2,3,4,5,6,7]
                lw-features-object(img-class="glyphicon glyphicon-camera")
                    h4 Responsive design
                    p Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        span= value
                    a.text-primary(href="#") Learn more


        lw-expand-area(title="Expand me!")
            h1 hello
            p you
            b again
            
        lw-expand-area(title="Expand me!", btn-class="primary")
            h1 hello
            p you
            b again
        lw-reviews-block.lg-3-col.md-3-col.sm-2-col.xs-1-col(headline="People said...",
                show-top-controls="true")
            page(ng-show="$parent.currentPage==0")
                lw-reviews-object(img-url="/client/avatar1.png", title="Some title",
                    headline="Some headline", ng-href="hrllo")
                    blockquote Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.

                lw-reviews-object.primary(img-url="/client/avatar1.png", title="", headline="")
                    blockquote Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.

                lw-reviews-object.danger(img-url="/client/avatar1.png", title="", headline="Some headline", ng-href="hrllo")
                    blockquote Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.

            page(ng-show="$parent.currentPage==1")
                lw-reviews-object.warning(img-url="/client/avatar1.png", title="", headline="")
                    blockquote Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.
                lw-reviews-object(img-url="/client/avatar1.png", title="", headline="")
                    blockquote Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.
                    
        lw-pricing-block.lg-3-col.md-3-col.sm-1-col.xs-1-col
            lw-pricing-object.danger(title="Hello", price="0", headline="hello headline")
                ul
                    li 
                        p 
                            b 30 DAY 
                            | trial
                    li 
                        p 
                            b NO 
                            | support
                    li 
                        p 
                            b NO 
                            | update
                    li 
                        p 
                            b 1 USER 
                            | only
                .btn.btn-danger-outline Buy now
                
            lw-pricing-object.gray-dark(title="Hello", price="20", headline="hello headline")
                ul
                    li 
                        p 
                            b UNLIMITED 
                            | use
                    li 
                        p 
                            b FREE 
                            | support
                    li 
                        p 
                            b FREE 
                            | update
                    li 
                        p 
                            b UP TO 10 USER 
                            | only
                .btn.btn-gray-outline Buy now
            lw-pricing-object.primary(title="Hello", price="120", headline="hello headline")
                ul
                    li 
                        p Hello 
                            b you
                    li 
                        p Hello 
                            b you 2
                    li 
                        p Hello 
                            b you 3
                .btn.btn-primary-outline Buy now


        if $isDevPlatform
            h4.text-primary [debug]: dev 
        else
            h4.text-primary [debug]: prod 
