
.quote-bubble
    div(ng-transclude)


.user-info
    uic-img-thumb.avatar(file="imgFile", size="70", 
                  default-url="/client/avatar.png",
                  force-lang="forceLang",
                  ng-if="!imgUrl")
    img.avatar(ng-src="{{imgUrl}}", ng-if="imgUrl")
    .info
        h4 {{title}}
        p(ng-show="headline && !ngHref") {{headline}}
        a(ng-show="headline && ngHref", href="{{ngHref}}") {{headline}}
